table {
     width:100%;
}
 table, th, td {
     border: 1px solid black;
     border-collapse: collapse;
}
 th, td {
     padding: 5px;
     text-align: left;
}
 table tr:nth-child(even) {
     background-color: #eee;
}
 table tr:nth-child(odd) {
     background-color:#fff;
}
 table th {
     background-color: #66A25C;
     color: white;
}

.cannot-go {
    font-size: 18px;
    color: #FFF;
    padding: 6px 10px;
    background: red;
    border: 2px solid #FFF;
    margin: 5px;
    border-radius: 4px;
}

.red-decline {
    background: red !important;
}

.small-padding {
    padding-top: 2%;
    padding-bottom: 2%;
}

.restrict-width {
    width:300px;
}

.chewy {
    font-family: Chewy;
}

.closer-caption {
    line-height: 0.6em;
}

.carousel-caption {
    top: 58%;
    transform: translateY(-40%);
}

#no-matches {
    top: 55%;
    transform: translateY(-40%);
}

#matches-pics {
    background-image: url(/static/img/wood.jpg);
    background-size: contain;
}

#matches-pics .carousel-inner .item{
    height: 100vh;  
}

.carousel-inner > .item > img{
    margin:auto;
    height: 100%;
}


.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: "Open Sans Condensed";
    font-size: 22px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}