 #datepicker{
     width: 180px;
}
 #datepicker > span:hover{
     cursor: pointer;
}
 #sortable {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 60%;
}
 #sortable li {
     font-size: 1.4em;
     height: 18px;
}
 #sortable li span {
     position: absolute;
     margin-left: -1.3em;
}

