 #datepicker{
     width: 180px;
}
 #datepicker > span:hover{
     cursor: pointer;
}
 #sortable {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 60%;
}
 #sortable li {
     font-size: 1.4em;
     height: 18px;
}
 #sortable li span {
     position: absolute;
     margin-left: -1.3em;
}

.form-check-label {
    font-weight: normal;
}
 h2 {
     font-weight: bold;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
     font-size: 36px !important;
}
.font-28 {
    font-size: 28px;
}

.profile-image {
    min-width: 200px !important;
}

#userImage, #editProfile, .profile-name {
    padding-right:5%;
}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: "Catamaran";
    font-size: 22px;
}

/* Modal Content/Box */
.modal-content {
    background-color: #fefefe;
    margin: 15% auto; /* 15% from the top and centered */
    padding: 20px;
    border: 1px solid #888;
    width: 80%; /* Could be more or less, depending on screen size */
    text-align: center;
}

/*Source for sortables: https://jqueryui.com/sortable/ */
#userDiningPreferences { 
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 60%;
}
#userDiningPreferences li { 
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 1.5em;
    font-size: 1em;
    height: auto;
    background-color: #ccc;
    border-radius: 10px;
}
#userDiningPreferences li span {
    position: absolute;
    margin-left: -1.3em;
}

@media (max-width: 1000px) {
    #userImage {
        padding-right:0%;
    }
}