.navbar {
     margin-bottom: 0;
     border-radius: 0;
     background-color: #66A25C;
     color: #FFF;
     padding: 1% 0;
     font-size: 1em;
     border: 0;
}

  #home-header {
     position: absolute;
  }
 .btn {
     font-size: 18px;
     color: #FFF;
     padding: 12px 22px;
     background: #66A25C;
     border: 2px solid #FFF;
}
 .navbar-brand {
     float: left;
     min-height: 55px;
     padding: 0 15px 5px;
}
 .navbar-inverse .navbar-nav .active a, .navbar-inverse .navbar-nav .active a:focus, .navbar-inverse .navbar-nav .active a:hover {
     color: #FFF;
     background-color: #66A25C;
}
 .navbar-inverse .navbar-nav li a{
     color: #D5D5D5;
}
 .container {
     margin: 4% auto;
}
 .carousel-caption {
     top: 38%;
     transform: translateY(-40%);
}
 footer {
     width: 100%;
     background-color: #66A25C;
     padding: 5%;
     color: #FFF;
}
 .fa {
     padding: 15px;
     font-size: 25px;
     color: #D5D5D5;
}
 .fa:hover {
     color: #FFF;
     text-decoration: none;
}
 @media (max-width: 900px) {
     .carousel-caption {
         display: none;
    }
     #profile-pic {
         max-width: 300px;
         margin: 1% auto;
    }
     .fa{
         font-size: 20px;
         padding: 10px;
    }
}
 @media (max-width: 600px) {
     .carousel-caption {
         display: none;
    }
     #profile-pic {
         max-width: 300px;
         margin: 1% auto;
    }
     h2 {
         font-size: 1.7em;
    }
}

#welcome {
    font-family: 'Mr Dafoe';
    font-weight: normal;
    font-size: 90px;
    
}

#mealmate {
    font-family: 'Chewy';
    font-size: 60px;
}

#title-description {
    font-size: 30px;
}

.bold {
    font-weight: bold;
}

body {
    font-family: 'Open Sans Condensed';
    font-size: 22px;
}

h1, h2 {
   font-weight: bold; 
}

.profPicBox{
    text-align: center;
 }

