.navbar {
     overflow: initial;
     margin-bottom: 0;
     border-radius: 0;
     background-color: #66A25C;
     color: #FFF;
     padding: 1% 0;
     font-size: 20px;
}

 .navbar-default {
     border-bottom: 1px !important;
     border-color: black !important;
     border-style: solid;
 }
 .navbar-brand {
     float: left;
     min-height: 47px;
     padding: 0 15px 3px;
}
 .navbar-inverse .navbar-nav li a{
     color: #FFF;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
 .navbar a:focus, .navbar a:hover {
     color: #D5D5D5 !important;
}
 .navbar-image {
     max-height: 47px;
     max-width: 190px;
}
 .dropdown-toggle {
     border: none !important;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
     margin-bottom: 0 !important;
     border-radius: 0 !important;
     font-size: 1em !important;
     border: 0 !important;
     background-color: #66A25C !important;
     padding: 10px 15px;
}
 .dropdown-menu {
     background-color: #66A25C !important;
     white-space: none;
     min-width: 100px !important;
}
 .dropdown-a {
     color: #FFF !important;
     background-color: #66A25C !important;
     font-size: 17px !important;
}
 .dropdown-toggle:hover, .dropdown-toggle:visited {
     background-color: #66A25C !important;
     color: #D5D5D5 !important;
     cursor: context-menu;
}
 .date-holder {
     display: flex;
     flex-direction: column;
     align-items: center;
     justify-content: center;
}
 #interests-bar {
     padding-left: 5%;
}
 #back-to-profile {
     color: #66A25C;
     margin-left: 0.5%;
     font-size: 50px;
}
 .front-icons {
     color: #000 !important;
     font-size: 100px !important;
}
 #back-to-profile:hover, #back-to-profile:focus {
     color: darkgray;
     text-decoration: none;
     cursor: pointer;
}
 .list-group-item {
     cursor: move;
     font-size: 24px;
}
 .list-group-item:hover {
     color: #66A25C;
     font-weight: bold;
     background-color: #F1F1F1;
}
.list-group-item:active {
     color: black;
     font-weight: normal;
     background-color: white;
}

 .form-check-input {
     cursor: pointer;
}
 #uploadProfilePic {
     justify-content: center;
     text-align: center;
}
 #photoupload {
    cursor: pointer;
 }

 .green-btn, .form-submit-button {
     font-size: 18px;
     color: #FFF;
     padding: 12px 22px;
     background: #66A25C;
     border: 2px solid #FFF;
}
  .border-black {
     border-color: black !important;
     border-radius: 4px;
}
.green-btn:hover, .form-submit-button:hover {
    color: green;
    font-weight: bold;
    background-color: #F1F1F1;
    border: 2px solid gray;
}
 .active {
     font-weight: bold !important;
     color: #FFF !important;
     text-decoration-color: #FFF;
}
 .container {
     margin: 4% auto;
     max-width: 100% !important;
     overflow-x: hidden !important;
}
 #home-header {
     top: 40%;
     transform: translateY(-40%);
     position: absolute;
}
 #choose-file, #addPhoto {
     cursor: pointer !important;  
     border-color: black !important;
     border-radius: 4px;
     padding: 8px 16px !important;
}

#choose-file:hover, #addPhoto:hover {
    background: #F1F1F1 !important;
    color: #66A25C !important;
    font-weight: bold;
}

#cancel-photo {
    background: darkgray !important;
    border-color: black !important;
    border-radius: 4px;
    cursor: pointer !important;
    padding: 8px 16px !important;
}

#cancel-photo:hover {
    background: #F1F1F1 !important;
    color: darkgray !important;
    border: 2px solid gray;
    font-weight: bold;
}

 footer {
     width: 100%;
     background-color: #66A25C;
     padding: 5%;
     color: #FFF;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
     border-top-style: solid;
     border-top-width: 1px;
     border-top-color: black;
}
 .footer-email {
     color: #FFF !important;
}
 .email-text {
     margin-bottom: 5%;
}
 .fa {
     padding: 15px;
     font-size: 25px;
     color: #FFF;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
 .fa:visited, .fa:active{
     color: #FFF !important;
     text-decoration: none;
}
 .fa:hover, .fa:focus {
     color: #FFF;
     text-decoration: none;
}
 .tiny-padding {
     padding-left: 4%;
     padding-right: 4%;
}
 .small-padding {
     padding-left: 5%;
     padding-right: 5%;
}
 .big-padding {
     padding-left: 20%;
     padding-right: 20%;
}

.medium-padding {
    padding-left: 10%;
    padding-right: 10%;
}
 #datepicker{
     width: 200px;
}
 #datepicker > span:hover{
     cursor: pointer;
}
 #sortable {
     list-style-type: none;
     margin: 0;
     padding: 0;
     width: 60%;
}
 #sortable li {
     font-size: 1.4em;
     height: 18px;
}
 #sortable li span {
     position: absolute;
     margin-left: -1.3em;
}
 .form-check-label {
     font-weight: normal;
     font-size: 24px;
}
 .modal {
     display: none;
    /* Hidden by default */
     position: fixed;
    /* Stay in place */
     z-index: 1;
    /* Sit on top */
     left: 0;
     top: 0;
     width: 100%;
    /* Full width */
     height: 100%;
    /* Full height */
     overflow: auto;
    /* Enable scroll if needed */
     background-color: rgb(0,0,0);
    /* Fallback color */
     background-color: rgba(0,0,0,0.4);
    /* Black w/ opacity */
     font-family: "Catamaran";
     font-size: 22px;
}
/* Modal Content/Box https://www.w3schools.com/howto/howto_css_modals.asp */
 .modal-content {
     background-color: #fefefe;
     margin: 15% auto;
    /* 15% from the top and centered */
     padding: 20px;
     border: 1px solid #888;
     width: 80%;
    /* Could be more or less, depending on screen size */
     text-align: center;
}

 #welcome {
     font-family: 'Herr Von Muellerhoff';
     font-weight: normal;
     font-size: 100px;
     text-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
     line-height: 0.5em;
     animation-duration: 1s;
}
 #mealmate {
     font-family: 'Chewy';
     font-size: 70px;
     letter-spacing: 3px;
     text-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
     animation-duration: 4s;
}
 #title-description {
     font-size: 30px;
     font-weight: bold;
     text-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
     animation-duration: 3s;
}
 #get-started {
     animation-duration: 6s;
}
 #pendDiv, #pendTable, #pendTableDiv, #matchTable {
     overflow-x:auto;
 }
 .smaller-break {
     margin-bottom:2%;
}
 .animate-2s {
     animation-duration: 2s;
}
 .match-picture {
     cursor: pointer;
}

 #limit-text {
     margin-top: 5px;
     font-size: 15px;
 }
 .find-bottom-margin {
     margin-bottom: 14px;
 }
.body-wrap {
    height: 100% !important;
    overflow-x: hidden !important;
}
 .pics-group p {
     display: block;
     position: absolute;
     top: 50%;
     left: 50%;
     margin: 0 auto;
     transform: translate(-50%,-50%);
     color: #FFF;
     font-size: 36px;
     font-weight: bold;
     box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.7);
     letter-spacing: 5px;
     border-color: white !important;
     border-width: thick !important;
     border-style: solid;
     padding: 5px 5px;
     background-color: rgba(102,162,92,0.7);
     
}
 #profile-left {
     border-right-style: solid;
     border-right-color: #D5D5D5;
     border-right-width: thin;
}

 .bold {
     font-weight: bold;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
 .no-padding {
     padding-left: 0%;
     padding-right: 0%;
}
 #userDiningPreferences {
     list-style-position:inside;
}

 ol li {
     border: solid;
     border-radius: 5px;
     margin-bottom: 2%;
}

 body {
     font-family: 'Catamaran';
     font-size: 22px;
     padding-top: 70px;
}

html, body {
    overflow-x: hidden !important;
    max-width: 100% !important;
}
 h1 {
     font-weight: bold;
     text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
 h2 {
     font-weight: bold;
     text-shadow: 0px 1px 2px rgba(0, 0, 0, 0.6);
}
h4, p {
    color: #444;
}
/* Line under header: https://stackoverflow.com/questions/35285467/how-to-make-a-line-below-text-without-text-decoration-underline */
 .add-line:after {
     content:' ';
     display:block;
     border:2px solid;
     border-color: #66A25C;
     margin-top: 1%;
}
 .margin-add-line:after {
     content:' ';
     display:block;
     border:2px solid;
     border-color: #66A25C;
     margin-top: 1%;
     margin-left: 23%;
     margin-right: 23%;
}
 .left-checkbox {
     display: inline-block; 
     text-align: left;
}
 h4 {
     font-size: 20px;
}
 #photoupload{
     display: block;
     margin-left: auto;
     margin-right: auto;
}
 .break-between-columns{
     display: none;
}
 #userName {
     text-transform: uppercase;
}
 #welcome-mobile {
     font-family: 'Herr Von Muellerhoff';
     font-weight: normal;
     font-size: 70px;
     text-shadow: 0px 4px 8px rgba(0, 0, 0, 1);
     animation-duration: 1s;
     display: none;
}
 #profile-left {
     border-right-width: thin;
     border-right-color: #D5D5D5;
     border-right-style: solid;
}

 .fa-handshake-o {
     padding-top: 4%;
     padding-bottom: 4%;
}
 #mealmate-img {
     max-width: 140px;
}
/* Flex box: https://css-tricks.com/snippets/css/a-guide-to-flexbox/ */
#name-header {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
}

#ol-div {
    display: flex;
     flex-direction: row;
     align-items: center;
     justify-content: center;
    margin-bottom: 3%;
}

.inline {
    display: inline-block !important;
}
.hidden-space {
    color: white;
    text-shadow: none;
}
 #find-mealmate-h1 {
     font-size: 36px;
     text-shadow: 0px 2px 4px rgba(0, 0, 0, 0.6);
}
 #find-mealmate-button {
     margin-top: 4%;
}
.match-name {
    color: #000 !important;
}
.closer-caption a{
    color: white;
}
 @media (max-width: 1000px) {
     #get-started {
         font-size: 12px;
         padding: 10px 20px;
    }
     #welcome {
         font-size: 80px;
    }
     #mealmate {
         font-size: 50px;
    }
     #title-description {
         font-size: 22px;
    }
     #userImage, #editProfile, .profile-name {
         padding-right:0%;
    }
     body {
         padding-top: 66px;
    }
     .header-lines {
         display: none !important;
    }
     .dropdown-a {
         text-align: left !important;
    }
      #matchTable, #pendTable {
        margin-top: 3%;
    }
     .add-line-mobile:after{
         content:' ';
         display:block;
         border:2px solid;
         border-color: #66A25C;
         margin-top: 1%;
         margin-left: 5%;
         margin-right: 5%;
     }
     #editProfile-div {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
     }
}
 @media (max-width: 900px) {
     #profile-pic {
         max-width: 200px;
         margin: 1% auto;
    }
     .fa{
         font-size: 20px;
         padding: 10px;
    }
     .big-padding, .tiny-padding, .medium-padding {
         padding-left: 5%;
         padding-right: 5%;
    }
     #get-started {
         font-size: 12px;
         padding: 9px 20px;
         border: 2px solid #FFF;
    }
     #title-description {
         font-size: 20px;
         line-height: 0.3em;
    }
     body {
         padding-top: 65px;
    }
}
 @media (max-width: 815px) {
     #get-started, #title-description {
         display: none;
    }
     #mealmate {
         font-size: 50px;
    }
     body {
         padding-top: 63px;
    }
     .margin-add-line:after {
         margin-left: 8%;
         margin-right: 8%;
     }
}
 @media (max-width: 760px) {
     .pics-group {
         padding-left: 10%;
         padding-right: 10%;
    }
     h1, #find-mealmate-h1 {
         font-size: 30px;
    }
     h2 {
         font-size: 25px;
    }
     body {
         padding-top: 59px;
    }
     .break-between-columns {
         display: inline;
    }
     #profile-left {
         border-bottom-style: solid;
         border-bottom-color: #D5D5D5;
         border-bottom-width: thin;
         border-right-width: 0px;
    }
     .dropdown-toggle {
        padding: 6px 15px !important;
     }
      #matchTable, #pendTable {
        margin-top: 3%;
    }
     .pics-group p {
         font-size: 30px;
     }
     h3, .form-check-label, .list-group-item {
         font-size: 20px;
     }
}
 @media (max-width: 600px) {
     #get-started, #title-description, #welcome, #dining-break {
         display: none;
    }
     #welcome-mobile {
         display: inline;
         line-height: 0.8em;
    }
     #mealmate {
         font-size: 40px;
         letter-spacing: 2px;
         line-height: 0.5em;
    }
     #profile-pic {
         max-width: 300px;
         margin: 1% auto;
    }
     .big-padding, .medium-padding {
         padding-left: 4%;
         padding-right: 4%;
    }
     .pics-group {
         padding-left: 5%;
         padding-right: 5%;
    }
     h4 {
         font-size:18px;
    }
     body {
         padding-top: 55px;
    }
     .match-picture {
         max-width: 150px; 
         max-height: 400px;
     }
     #matchTable, #pendTable {
        margin-top: 4%;
    }
    .margin-bottom-2 {
        margin-bottom: 2%;
    }
    .margin-bottom-4 {
        margin-bottom: 4%;
    }
    .margin-bottom-6 {
        margin-bottom: 8%;
    }
     .margin-bottom-12 {
        margin-bottom: 12%;
    }
}
 @media (max-width: 475px) {
     #welcome-mobile {
         line-height: 0.3em;
         font-size: 60px;
    }
     #mealmate {
         font-size: 40px;
         line-height: 0.3em;
    }
     #matchTable, #pendTable {
        margin-top: 5%;
    }
}
 @media (max-width: 410px) {
     #home-header {
         top: 38%;
    }
     #welcome-mobile {
         line-height: 0em;
         font-size: 57px;
    }
     #mealmate {
         font-size: 37px;
         line-height: 0em;
    }
      #matchTable, #pendTable {
        margin-top: 6%;
    }
}
 @media (max-width: 385px) {
      #home-header {
         top: 33%;
    }
      #welcome-mobile {
         line-height: 0em;
         font-size: 45px;
    }
     #mealmate {
         font-size: 25px;
         margin-top: 10px;
         padding-top: 0;
     }
      #matchTable, #pendTable {
        margin-top: 7%;
    }
}
