<!DOCTYPE html>
<html>
    <head>
        <title>mealmate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu">
        <meta name="description" content="Join us in mealmate, where you'll discover new students through dining together!">
        <meta name="keywords" content="college students meal, dining hall, mealmate, MIT, eat, new friends"> 

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.png"/>
        <link href='https://fonts.googleapis.com/css?family=Open Sans Condensed:300' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    </head>
    <body>
        <nav class="navbar navbar-inverse"> <!-- navbar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../../static/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
            <!-- navbar items dynamically added here -->
            </div>
        </div>
        </nav>
        
        <div class= "container text-center"> 
            <h2>INSPIRATION FOR <span style="font-family:Chewy; font-size:35px">mealmate</span></h2><br>
            <img src="static/img/mit.jpg" class="img-responsive big-padding">
            <h4 class="big-padding">While taking 6.148, MIT's Web Development Class and Competition, Cynthia, Nanxi, and Sabrina really wanted to solve problems and help people at MIT. Some problems that we saw through personal experience, talking to others, and reading online sources (ex: MIT Confessions and MIT Timely Confessions) were that some MIT students are lonely, shy, have trouble making friends, greenbox every meal, or eat alone in dining halls. </h4>
            <h4 class="big-padding">We wanted to make this website to help MIT students meet and befriend other MIT students and brighten their lives. We hope beautiful friendships will form and MIT students will be happier from this.</h4>
        </div>
        
        <div class= "container text-center"> <!-- last section, about the creators -->
            <h2>ABOUT THE CREATORS</h2>
            <div class="row">
                <div class="col-sm-4">
                    <h3>Cynthia Liu</h3>
                    <img src="../../static/img/cynthia.jpg" class="img-responsive" id="profile-pic">
                    <h4>Cynthia is a course 6-3/18 sophmore with bad vision, despite being a member of the class of 2020. She likes optimization, and wants to make people's lives easier through research and programming. In her free time, she plays clarinet and osu!</h4>
                </div>
                <div class="col-sm-4">
                    <h3>Nanxi Liu</h3>
                    <img src="../../static/img/nanxi.jpg" class="img-responsive" id="profile-pic">
                    <h4>Nanxi is a Course 6-3 sophomore from Southern California. She wants to solve problems and improve peoples' lives through programming. She loves being happy, eating yummy food, self-improvement, napping, and listening to music.</h4>
                </div>
                <div class="col-sm-4">
                    <h3>Sabrina Liu</h3>
                    <img src="../../static/img/sabrina.jpg" class="img-responsive" id="profile-pic">
                    <h4>Sabrina is a Course 6-2 freshman. While not completely clear on future plans, she enjoys finding applications of CS in interdisciplinary fields. Other than that, she likes playing with cards and watching Youtube.</h4>
                </div>
            </div>
        </div>
        
        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="bold">CONTACT US</h3>
                    <br>
                    <h4>mealmate.mit@gmail.com</h4>
                    <br>
                </div>
                <div class="col-sm-4">
                    <h3 class="bold">CONNECT</h3>
                    <br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <br>
                </div>
                <div class="col-sm-4">
                    <br>
                    <img src="../../static/img/logo.png" class="icon">
                </div>
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/navbar.js"></script>
        <script src="/static/js/index.js"></script>
    </body>