<!DOCTYPE html>
<html>
    <head>
        <title>mealmate</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu" />
    </head>
    <body>
        <nav> <!-- navbar -->
            <div href="#">mealmate</div> <!-- website name on the navbar -->
            <div id="nav-item-container">
                <!-- navbar items are inserted here --> <!-- dependent on login -->
            </div>
        </nav>
        <div> <!-- The first section: a large image, on which there is some text -->  
            <div> <!-- div containing text inside the large image -->
                <h1>Looking for some new friends?</h1>
                <h2>Join us in Website Name, where you'll discover new students through dining together</h2>
            </div> <!-- end text -->
        </div> <!-- end first section -->
        <div> <!-- The second section: "About Us" -->
            <div> <!-- text inside the second section -->
                <div> <!-- title of About Us Section (should we be this extra) -->
                    <h2>About mealmate</h2>
                </div> <!-- end title -->
                <div> <!-- about Website Name paragraph -->
                    <p>Do you want to meet new people, but are shy or aren't sure how? Do you barely have time to eat with the people you know, or do you usually eat alone? If you answered yes to either of these questions, then Website Name can help you resolve both of those things! Input your availability, interests, and preferred dining halls, and we'll suggest some other students with whom you could eat.</p>
                </div>
                <div> <!-- a div that separates the button from the paragraph to put more attention on the button -->
                    <button>Let's Get Started</button> <!-- login button if not logged in, otherwise goes to your profile -->
                </div> 
            </div>
        </div>
        <div> <!-- last section, about the creators -->
            <div> <!-- people inside last section -->
                <h2>About the Creators</h2>
                <div> <!-- 1st subsection, one person's image + about -->
                    <h3>Cynthia Liu</h3>
                    <div> <!-- image 1 -->
                        <img src="">
                    </div>
                    <div> <!-- name 1  -->
                        <p>Cynthia is a course 6-3/18 sophmore with bad vision, despite being a member of the class of 2020. She likes optimization, and wants to make people's lives easier through research and programming. In her free time, she plays clarinet and osu!</p>
                    </div>
                </div>
                <div> <!-- 2nd subsection -->
                    <h3>Nanxi Liu</h3>
                    <div> <!-- image 2 -->
                        <img src="">
                    </div>
                    <div> <!-- name 2 -->
                        <p>Nanxi is a Course 6-3 sophomore from Southern California. She wants to solve problems and improve peoples' lives through programming. She loves being happy, eating yummy food, self-improvement, napping, and listening to music. </p>
                    </div>
                </div>
                <div> <!-- 3rd subsection -->
                    <h3>Sabrina Liu</h3>
                    <div> <!-- image 3 -->
                        <img src="">
                    </div>
                    <div> <!-- name 3 -->
                        <p>Sabrina is a Course 6-2 freshman. While not completely clear on future plans, she enjoys finding applications of CS in interdisciplinary fields. Other than that, she likes playing with cards and watching Youtube.</p>
                    </div>
                </div>
            </div>
        </body>
    </body>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
</html>
