<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113163400-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113163400-1');
    </script>

    <title>mealmate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu">
    <meta name="description" content="Join us in mealmate, where you'll discover new students through dining together!">
    <meta name="keywords" content="college students meal, dining hall, mealmate, MIT, eat, new friends">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Herr Von Muellerhoff' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
</head>

<body>

    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- navbar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/logo.png" class="navbar-image"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- navbar items dynamically added here -->
            </div>
        </div>
    </nav>

    <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- photos and slider -->
        <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
            <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>
        <div class="carousel-inner" role="listbox">
            <div class="item active">
                <img src="/static/img/food.jpg">
            </div>
            <!--- End Active-->
            <div class="item">
                <img src="/static/img/maseeh.jpg">
            </div>
            <div class="item">
                <img src="/static/img/baker.jpg">
            </div>
            <div class="item">
                <img src="/static/img/couscous.jpg">
            </div>
            <div class="carousel-caption" id="home-header">
                <h1 id="welcome" class="animated bounceInDown"><span style="font-size:115px">W</span>elcome</h1>
                <h1 id="welcome-mobile" class="animated bounceInDown">Welcome</h1>
                <h2 id="mealmate" class="animated fadeIn">mealmate</h2>
                <h3 id="title-description" class="animated bounceInUp">MATCH, EAT, BEFRIEND</h3>
                <br>
                <button type="button" class="btn btn-default green-btn animated fadeIn" id="get-started">Get Started</button>
                <!-- login button if not logged in, otherwise goes to your profile -->
            </div>

            <!--- Start Slider Controls-->
            <a class="left carousel-control" href="#myCarousel" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#myCarousel" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
        </div>
    </div>
    <!--- End slider-->

    <div class="container text-center small-padding">
        <h1 class="add-line small-padding">WHAT IS A <span style="font-family:Chewy; font-size:40px">mealmate</span>?</h1>
        <div class="row small-padding">
            <h4><span style="font-style:italic; font-weight:bold">(noun)</span></h4>
            <h4>a friend (or peer that you will befriend) who eats a meal with you at a MIT dining hall</h4>
            <img src="/static/img/mealmate.png" class="center-block" id="mealmate-img">
        </div>
    </div>

    <div class="container text-center small-padding">
        <h1 class="add-line small-padding">FIND YOUR <span style="font-family:Chewy; font-size:40px">mealmate</span></h1>
        <div class="row small-padding">
            <div class="col-sm-3">
                <img src="/static/img/calendar.png" class="img-responsive center-block" id="mealmate-img">
                <h4>Fill out your availability for a day.</h4>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/social.png" class="img-responsive center-block" id="mealmate-img">
                <h4>Get matched with someone! Both of you confirm the meal.</h4>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/cutlery.png" class="img-responsive center-block" id="mealmate-img">
                <h4>Eat with your mealmate and have a great time!</h4>
            </div>
            <div class="col-sm-3">
                <img src="/static/img/repeat.png" class="img-responsive center-block" id="mealmate-img">
                <h4>Repeat!</h4>
            </div>
        </div>
    </div>

    <div class="container text-center">
        <!-- last section, about the creators -->
        <h1><img class="header-lines animated bounceInLeft" src="/static/img/left_line.png"> EAT WITH NEW FRIENDS <img class="header-lines animated bounceInRight" src="/static/img/right_line.png"></h1><br>
        <div class="row">
            <div class="col-sm-4 pics-group">
                <img src="static/img/breakfast.jpg" class="img-responsive">
                <p>BREAKFAST</p>
            </div>
            <div class="col-sm-4 pics-group">
                <img src="static/img/bean_burger.jpg" class="img-responsive">
                <p>LUNCH</p>
            </div>
            <div class="col-sm-4 pics-group">
                <img src="static/img/salmon.jpg" class="img-responsive">
                <p>DINNER</p>
            </div>
        </div><br>
        <h1><img class="header-lines animated bounceInLeft" src="/static/img/left_line.png"> ENJOY MIT'S DINING HALLS <img class="header-lines animated bounceInRight" src="/static/img/right_line.png"></h1><br>
        <div class="row">
            <div class="col-md-6 pics-group">
                <img src="static/img/baker.jpg" class="img-responsive">
                <p>BAKER</p>
            </div>
            <div class="col-md-6 pics-group">
                <img src="static/img/maseeh.jpg" class="img-responsive">
                <p>MASEEH</p>
            </div>
        </div><br id="dining-break">
        <div class="row">
            <div class="col-sm-4 pics-group">
                <img src="static/img/simmons.jpg" class="img-responsive">
                <p>SIMMONS</p>
            </div>
            <div class="col-sm-4 pics-group">
                <img src="static/img/mccormick.jpg" class="img-responsive">
                <p>MCCORMICK</p>
            </div>
            <div class="col-sm-4 pics-group">
                <img src="static/img/next.jpg" class="img-responsive">
                <p>NEXT</p>
            </div>
        </div>
    </div>


    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="bold">CONTACT US</h3>
                <a class="fa fa-envelope"></a>
                <h4><a class="footer-email" href="mailto:mealmate.mit@gmail.com">mealmate.mit@gmail.com</a></h4>
                <br>
            </div>
            <div class="col-sm-4">
                <h3 class="bold">CONNECT</h3>
                <a class="fa fa-handshake-o"></a>
                <h4 class="email-text"><a class="footer-email" href="mailto:cynliu98@mit.edu">Cynthia Liu</a></h4>
                <h4 class="email-text"><a class="footer-email" href="mailto:nanxi@mit.edu">Nanxi Liu</a></h4>
                <h4 class="email-text"><a class="footer-email" href="mailto:sabliu@mit.edu">Sabrina Liu</a></h4>
            </div>
            <div class="col-sm-4">
                <br>
                <a href="#"><img src="/static/img/logo.png" class="icon navbar-image"></a>
            </div>
        </div>
    </footer>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="bower_components/aos/dist/aos.js"></script>
    <script src="/static/js/api.js"></script>
    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/index.js"></script>
</body>

</html>