<!DOCTYPE html>
<html>
    <head>
    <title>matches • mealmate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu">
        <meta name="description" content="Join us in mealmate, where you'll discover new students through dining together!">
        <meta name="keywords" content="college students meal, dining hall, mealmate, MIT, eat, new friends">    

        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/matches.css">
        <link rel="stylesheet" href="/static/css/style.css">
        <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png"/>
        <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
        <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
    </head>
    <body>
    <nav class="navbar navbar-inverse navbar-fixed-top"> <!-- navbar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../../static/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
               <!-- insert navbar here --> 
            </div>
        </div>
    </nav>

    <div id="cancel-modal" class="modal">
        <div class="modal-content">
            <h1>Are you sure you want to decline this match?</h1>
            <h2>This cannot be undone.</h2>
            <button id="cancel-decline">Cancel</button>
            <button id="verify-decline">Yes</button>
        </div>
    </div>
        
    <div class= "container text-center">
        <h1><img class="header-lines" src="/static/img/left_line.png"> MEALMATES <img class="header-lines" src="/static/img/right_line.png"></h1>
        <h3>Here are your confirmed <span style="font-family:Chewy; font-size:25px">mealmate</span> matches! Be sure to be on time for your meal!</h3>
        </div>
        
        <!-- Carousel preferably sorted by the closest time -->
        <div id="matches-pics" class="carousel slide" data-ride="carousel" data-interval="false">
            <ol class="carousel-indicators" id="indicators">
                <!-- <li data-target="#matches-pics" data-slide-to="0" class="active"></li>
                <li data-target="#matches-pics" data-slide-to="1"></li>
                <li data-target="#matches-pics" data-slide-to="2"></li> -->
            </ol>

            <div class="carousel-inner" role="listbox" id="carousel-inner-objects">
                <!-- <div class="item active">
                <img src="/static/img/sabrina.jpg">
                <div class="carousel-caption">
                    <h1 class="chewy closer-caption">SABRINA LIU</h1> 
                    <!-- I can make it all caps later! just need name to be passed... also name should link to profile!-->
                    <!-- <h2 class="closer-caption">January 25, 2018</h2>
                    <h2 class="closer-caption">6 pm</h2>
                    <h2 class="closer-caption">Mccormick</h2>
                    <button type="button" class="cannot-go">Cannot Go</button>
                </div> -->
            <!-- </div> 
            <div class="item">
                <img src="/static/img/bean_burger.jpg">
                <div class="carousel-caption">
                    <h1 class="chewy closer-caption">DELICIOUS BEAN BURGER WITH A LONG NAME</h1>
                    <h2 class="closer-caption">January 25, 2018</h2>
                    <h2 class="closer-caption">2:30 pm</h2>
                    <h2 class="closer-caption">Maseeh</h2>
                    <button type="button" class="cannot-go">Cannot Go</button>
                </div>
            </div>
            <div class="item">
                <div class="carousel-caption" id="no-matches">
                    <h1 class="chewy closer-caption">NO CONFIRMED MEALMATES YET</h1>
                    <h1 class="chewy">mealmates will appear here later!</h1>
                </div>
            </div> -->

           
            <a class="left carousel-control" href="#matches-pics" role="button" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
            </a>
            <a class="right carousel-control" href="#matches-pics" role="button" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
            </a>
            </div>   
        </div>   
    
    <div class= "container text-center"> 
        <h1><img class="header-lines" src="/static/img/left_line.png"> PENDING MATCHES <img class="header-lines" src="/static/img/right_line.png"></h1> <br>
            <table>
                <tr>
                <th class="text-center bold">MATCH</th>
                <th class="text-center bold">DETAILS</th>
                <th class="text-center bold">DECISION</th>
                </tr>
                <tr>
                <td>
                    <img src="/static/img/sabrina.jpg" class="restrict-width center-block small-padding">
                    <p class="text-center">Sabrina Liu</p> <!-- Also link to profile -->
                </td>
                    <td>
                        <p class="text-center">January 25, 2018</p> 
                        <p class="text-center">6 pm</p> 
                        <p class="text-center">Mccormick</p> 
                    </td>
                <td> 
                    <button type="button" class="btn btn-default center-block" class="confirm-match">Confirm</button> <br>
                    <button type="button" class="btn btn-default center-block red-decline">Decline</button>
                </td>
                </tr>
            </table>
        </div>
        <br>
        
        
        <div class= "container text-center">
            <h1>OLD</h1>
            <br>
            <div id="matchTable"> <!-- table of matches, or indication of no matches, goes here -->
                <table id="t01">
                    <tr>
                    <th>Profile Picture</th>
                    <th>Name</th> 
                    <th>Date</th>
                    <th>Time</th>
                    <th>Dining Hall</th>
                    </tr>
                </table>
            </div>
        </div>

        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h3 class="bold">CONTACT US</h3>
                    <a class="fa fa-envelope"></a>
                    <h4><a class="footer-email" href="mailto:mealmate.mit@gmail.com">mealmate.mit@gmail.com</a></h4>
                    <br>
                </div>
                <div class="col-sm-4">
                    <h3 class="bold">CONNECT</h3>
                    <a class="fa fa-handshake-o"></a>
                    <h4 class="email-text"><a class="footer-email" href="mailto:cynliu98@mit.edu">Cynthia Liu</a></h4>
                    <h4 class="email-text"><a class="footer-email" href="mailto:nanxi@mit.edu">Nanxi Liu</a></h4>
                    <h4 class="email-text"><a class="footer-email" href="mailto:sabliu@mit.edu">Sabrina Liu</a></h4>
                </div>
                <div class="col-sm-4">
                    <br>
                    <a href="#"><img src="/static/img/logo.png" class="icon"></a>
                </div>
            </div>
        </footer>
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
        <script src="/static/js/api.js"></script>
        <script src="/static/js/navbar.js"></script>
        <script src="/static/js/matches.js"></script>
    </body>
</html>
