<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-113163400-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag(){dataLayer.push(arguments);}
      gtag('js', new Date());

      gtag('config', 'UA-113163400-1');
    </script>
    
    <title>Profile • mealmate</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu">
    <meta name="description" content="Join us in mealmate, where you'll discover new students through dining together!">
    <meta name="keywords" content="college students meal, dining hall, mealmate, MIT, eat, new friends">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/3.5.2/animate.css">
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/profile.css">
    <link rel="shortcut icon" type="image/x-icon" href="/static/img/favicon.png" />
    <link href='https://fonts.googleapis.com/css?family=Chewy' rel='stylesheet'>
    <link href='https://fonts.googleapis.com/css?family=Catamaran' rel='stylesheet'>
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top">
        <!-- navbar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="/static/img/logo.png" class="navbar-image"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- insert navbar here -->
            </div>
        </div>
    </nav>

    <div class="body-wrap">
    <!-- Source: https://www.w3schools.com/howto/howto_css_modals.asp -->
    <div id="emailModal" class="modal">
        <div class="modal-content">
            <h2>Please enter your email.</h2>
            <h3><span style="font-family:Chewy">mealmate</span> uses your email to notify you of your next match. We promise no spam!</h3>
            <input id="userEmail" type="text">
            <btn id="submitEmail" class="green-btn border-black" disabled>Submit</btn>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-sm-4" id="profile-left">
                <div id='userName' class="profile-name text-center">
                    <!-- insert the username via js here -->
                </div>
                <div class='profPicBox' id="userImage">
                    <!-- insert the user image via js here -->
                </div>
                <br>
                <button type="button" class="btn green-btn btn-default border-black center-block" id='editProfile'>Edit Profile</button>
                <!-- edit profile button -->
                <!-- make the button react via javaScript -->
            </div>
            <br class="break-between-columns">
            <div class="col-sm-8" id="profile-right">
                <h2 id="about-me" class="text-center"><img class="header-lines animated bounceInLeft" src="/static/img/left_line.png"> ABOUT ME <img class="header-lines animated bounceInRight" src="/static/img/right_line.png"></h2>
                <!-- Ideal front-end for me currently! Only Course, class, and living group are required,
                             the rest pop up if they enter something for it!-->
                <h3 class="add-line bold font-28 text-center">GENERAL INFORMATION</h3>
                <h4><span style="font-weight:bold">COURSE: </span><span id='userCourse'></span></h4>
                <h4><span style="font-weight:bold">CLASS: </span><span id='userClass'></span></h4>
                <h4><span style="font-weight:bold">LIVING GROUP: </span><span id='userLivingGroup'></span></h4>
                <h4><span style="font-weight:bold">HOME STATE: </span><span id='userHomeState'></span></h4>
                <h4><span style="font-weight:bold">KERBEROS: </span><span id='userKerb'></span></h4>
                <h4><span style="font-weight:bold">CELL PHONE NUMBER: </span><span id='userCell'></span></h4>
                <br>
                <!-- Get to know me rendered in JS only if not all fields are whitespace -->
                <h3 class="add-line bold font-28 text-center" id='getToKnowMeHeader' style='display: none'>GET TO KNOW ME</h3>
                <div id="favDiv">
                </div>
                <br>
            </div>
        </div>
    </div>
    </div>

    <footer class="container-fluid text-center">
        <div class="row">
            <div class="col-sm-4">
                <h3 class="bold">CONTACT US</h3>
                <a class="fa fa-envelope"></a>
                <h4><a class="footer-email" href="mailto:mealmate.mit@gmail.com">mealmate.mit@gmail.com</a></h4>
                <br>
            </div>
            <div class="col-sm-4">
                <h3 class="bold">CONNECT</h3>
                <a class="fa fa-handshake-o"></a>
                <h4 class="email-text"><a class="footer-email" href="mailto:cynliu98@mit.edu">Cynthia Liu</a></h4>
                <h4 class="email-text"><a class="footer-email" href="mailto:nanxi@mit.edu">Nanxi Liu</a></h4>
                <h4 class="email-text"><a class="footer-email" href="mailto:sabliu@mit.edu">Sabrina Liu</a></h4>
            </div>
            <div class="col-sm-4">
                <br>
                <a href="/"><img src="/static/img/logo.png" class="icon navbar-image"></a>
            </div>
        </div>
    </footer>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
    <script src="/static/js/api.js"></script>

    <script src="/static/js/navbar.js"></script>
    <script src="/static/js/profile.js"></script>
    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
    <script>
        $( function() {
            $( "#userDiningPreferences" ).sortable();
            $( "#userDiningPreferences" ).disableSelection();
        } );
    </script>
</body>

</html>