<!DOCTYPE html>
<html>
	<head>
		<title>Profile - mealmate</title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width">
        <meta name="author" content="Liu^3 - Cynthia Liu, Nanxi Liu, and Sabrina Liu">
        <meta name="description" content="Join us in mealmate, where you'll discover new students through dining together!">
        <meta name="keywords" content="college students meal, dining hall, mealmate, MIT, eat, new friends"> 
        
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="/static/css/navbar.css">
        <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css">
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.css">
		<link rel="stylesheet" href="/static/css/profile.css">

        <link rel="shortcut icon" type="image/x-icon" href="../../static/img/favicon.png"/>

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
		<script src="/static/js/api.js"></script>
		<script src="/static/js/navbar.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.js"></script>
		<script src="/static/js/profile.js"></script>
        <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
        <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
        
        <script>
        $( function() {
            $( "#sortable" ).sortable();
            $( "#sortable" ).disableSelection();
        } );
        </script>

    </head>
	<body>
        <nav class="navbar navbar-inverse"> <!-- navbar -->
        <div class="container-fluid">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><img src="../../static/img/logo.png"></a>
            </div>
            <div class="collapse navbar-collapse" id="myNavbar">
                <!-- insert navbar here -->
            </div>
        </div>
        </nav>
        
        
        <div class="container">
            <div class="row">
                <div class="col-md-4">
                    <h4 id='userName'>
                        <!-- insert the username via js here -->
                    </h4>
                    <div class='imageBox img-responsive' id="userImage">
                        <!-- insert the user image via js here -->
                    </div>
                    <h3>About Me</h3>
					<div id='userAbout'>
						<!-- insert about me via js here -->
					</div>
                    <div id='editProfile'> <!-- edit profile button -->
                        <!-- insert the button via javascript -->
                    </div>
                    <div id='userCourseClass'>
                        <!-- Course 0, 2000, or the actual course and class -->
                    </div>
                    <div id='userLivingGroup'>
                        <!-- User's living group -->
                    </div> 
                    <div id='userInterests'>
                        Interests: temp
                    </div> <!-- not changing this yet -->
                </div>
                <div class="col-md-8">
                    <br>
                    <h4>Preferred Dining Hall:</h4>
                    <ol id='userDiningPreferences'>
						<ul id="sortable">
                            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Baker</li>
                            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Maseeh</li>
                            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Mccormick</li>
                            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Simmons</li>
                            <li class="ui-state-default"><span class="ui-icon ui-icon-arrowthick-2-n-s"></span>Next</li>
                        </ul>
					</ol> 
                    <br>
                    
                    <h4 id ='userAvailability'>Date Availability</h4>
                    <p>Put in the date you want to have your meal!</p>
                    <div id="datepicker" class="input-group date" data-date-formate="yyyy-mm-dd">
                        <input type="text" name="">
                        <span class="input-group-addon"><i class="glyphicon glyphicon-calendar"></i></span>
                    </div>
                    
                    <br>
                    
                    <h4>Time Availability</h4>
                    <p>Check off all the times when you are availabile for a meal!</p>
                    <div class="form-check">
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 9 am - 9:30 am</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 9:30 am - 10 am</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 10 am - 10:30 am</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 10:30 am - 11 am</label><br> 
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 11 am - 11:30 am</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 11:30 am - 12 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 12 pm - 12:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 12:30 pm - 1 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 1 pm - 1:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 1:30 pm - 2 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 2 pm - 2:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 2:30 pm - 3 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 5 pm - 5:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 5:30 pm - 6 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 6 pm - 6:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 6:30 pm - 7 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 7 pm - 7:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 7:30 pm - 8 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 8 pm - 8:30 pm</label><br>
                      <label class="form-check-label"><input class="form-check-input" type="checkbox" value=""> 8:30 pm - 9 pm</label><br><br>
                    
                      <button type="button" class="btn btn-default" >Find a mealmate!</button><br><br>
                </div>
            </div>
        </div>
        </div>
        
        <footer class="container-fluid text-center">
            <div class="row">
                <div class="col-sm-4">
                    <h3>Contact Us</h3>
                    <br>
                    <h4>cynliu98@mit.edu</h4>
                    <h4>nanxi@mit.edu</h4>
                    <h4>sabliu@mit.edu</h4>
                    <br>
                </div>
                <div class="col-sm-4">
                    <h3>Connect</h3>
                    <br>
                    <a href="#" class="fa fa-facebook"></a>
                    <a href="#" class="fa fa-twitter"></a>
                    <a href="#" class="fa fa-google"></a>
                    <a href="#" class="fa fa-linkedin"></a>
                    <a href="#" class="fa fa-youtube"></a>
                    <br>
                </div>
                <div class="col-sm-4">
                    <br>
                    <img src="../../static/img/logo.png" class="icon">
                </div>
            </div>
        </footer>
	</body>
</html>